name: ADU QUOTE CI/CD
on:
  push:
    branches: [master]
permissions:
  contents: write
#workflow on push
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install || echo "No dependencies to install"

      - name: Validate pricing.json
        run: node validate-json.js
      #define user
      - name: Setup Git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@user.noreply.github.com"
      - name: Deploy to Github pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{secrets.NEW_PAT_TOKEN}}
          publish_dir: ./
          force_orphan: true
